body {
    background-color: rgb(180, 180, 180);
    color: hue($color: #333333);
    border-style: dashed;
    border-width: thick;
    border-width: 1px;
    border-color: red;
    font-family: 'Hind', sans-serif;
}

footer {
    margin-top: 5rem;
    border-style: dashed;
    border-width: 1px;
    border-color: blue;
    h1 {
        text-align: center;
        text-shadow: hue($color: #432444);
        text-rendering: round($number: 10);
    }
}

main { 
    border-width: 1px;
    border-style: dashed;
    border-color: green;
    margin-top: 2.5rem;
    p {
        text-align: center;
    }
}


